<launch>
  <!-- Yolo Kalman -->

  <node pkg="detection" type="yolo_TKal" name="yolo_TKal" output="screen" respawn="true">
    
    <param name="sensor_type" type="str" value="kinect"/>
    <param name="method_type" type="str" value="distance"/>
    <param name="single"      type="bool" value="false"/>

    <remap from="image_color" to="kinect2/qhd/image_color"/>
    <remap from="image_depth" to="kinect2/qhd/image_depth_rect"/>
  </node>
</launch>
